{% from "_includes/forms" import textField, lightswitchField, selectField %}

{{ selectField({
     label: "Region"|t('commerce'),
     id: 'region',
     class: 'ltr',
     name: 'region',
     options: {'AU': 'AU', 'NZ': 'NZ', 'US': 'US'},
     value: gateway.region,
     errors: gateway.getErrors('region')
}) }}

{{ textField({
     label: "Merchant Id"|t('commerce'),
     id: 'merchantId',
     class: 'ltr',
     name: 'merchantId',
     value: gateway.merchantId,
     errors: gateway.getErrors('merchantId')
 }) }}

{{ textField({
     label: "Merchant Key"|t('commerce'),
     id: 'merchantKey',
     class: 'ltr',
     name: 'merchantKey',
     value: gateway.merchantKey,
     errors: gateway.getErrors('merchantKey')
 }) }}

 {{ lightswitchField({
     label: "Sandbox mode?"|t('commerce'),
     name: 'sandboxMode',
     on: gateway.sandboxMode,
     errors: gateway.getErrors('sandboxMode'),
 }) }}